visualization-game/node-red_exports/client.json
[{"id":"6354b356.52bf64","type":"tab","label":"Client","disabled":false,"info":""},{"id":"e7db0cf4.72239","type":"inject","z":"6354b356.52bf64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":180,"wires":[["36963c73.fde5d4"]]},{"id":"891df792.6d977","type":"websocket out","z":"6354b356.52bf64","name":"WS Out","server":"","client":"8f560f79.b6689","x":600,"y":220,"wires":[]},{"id":"36963c73.fde5d4","type":"mqtt out","z":"6354b356.52bf64","name":"","topic":"laborwoche/johannes","qos":"","retain":"","broker":"5b007f8c.4ab2f8","x":560,"y":160,"wires":[]},{"id":"8334a549.3e8b48","type":"serial in","z":"6354b356.52bf64","name":"","serial":"ff05b645.4d18b","x":110,"y":360,"wires":[["9b533662.f308d"]]},{"id":"325667da.ca4f4","type":"debug","z":"6354b356.52bf64","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"9b533662.f308d","type":"function","z":"6354b356.52bf64","name":"","func":"let dataArray = msg.payload.split(',');\n\nsensorPayload = {\nrgb:{\n    r:parseFloat(dataArray[0]),\n    g:parseFloat(dataArray[1]),\n    b:parseFloat(dataArray[2]),\n    c:parseFloat(dataArray[3])\n},\njoystick:{\n    x:parseFloat(dataArray[4]),\n    y:parseFloat(dataArray[5]),\n    sw:parseFloat(dataArray[6])\n}\n}\n\n\n\nmsg.payload = sensorPayload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":360,"wires":[["325667da.ca4f4","36963c73.fde5d4","891df792.6d977"]]},{"id":"8f560f79.b6689","type":"websocket-client","path":"ws://localhost:1880/ws/receive","tls":"","wholemsg":"false"},{"id":"5b007f8c.4ab2f8","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ff05b645.4d18b","type":"serial-port","serialport":"/dev/tty.usbmodem14101","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]