visualization-game/node-red_exports/websocket-server.json
[{"id":"75cfa48d.199d24","type":"tab","label":"Web Socket Server","disabled":false,"info":""},{"id":"c0a95336.7dc288","type":"websocket in","z":"75cfa48d.199d24","name":"WS In","server":"74e2bed2.e21ae","client":"","x":210,"y":340,"wires":[["2ee41a29.2ad526"]]},{"id":"541716ae.f1d1c8","type":"websocket out","z":"75cfa48d.199d24","name":"WS Out","server":"74e2bed2.e21ae","client":"","x":620,"y":340,"wires":[]},{"id":"2ee41a29.2ad526","type":"function","z":"75cfa48d.199d24","name":"","func":"return {payload: msg.payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["541716ae.f1d1c8","4d61061e.71d5d8"]]},{"id":"c978d670.9814c","type":"mqtt in","z":"75cfa48d.199d24","name":"","topic":"/laborwoche/johannes","qos":"2","datatype":"auto","broker":"5b007f8c.4ab2f8","x":160,"y":260,"wires":[["2ee41a29.2ad526"]]},{"id":"4d61061e.71d5d8","type":"debug","z":"75cfa48d.199d24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"74e2bed2.e21ae","type":"websocket-listener","path":"/ws/receive","wholemsg":"false"},{"id":"5b007f8c.4ab2f8","type":"mqtt-broker","name":"","broker":"mqtt.hfg.design","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]